.cart-heading h5 {
  font-weight: 600;
}
.cart-heading{
  border-bottom: 1px solid gray;
  margin-bottom: 8x;
}
.total-price {
  border-top: 1px solid gray;
}
.btn-checkout {
  border: none;
  background-color: black;
  color: #FE4C55;
  margin-bottom: 24px;
}
.btn-checkout:hover {
  border: 1px solid black;
  background-color: #FE4C55;
  color: black;
}
.cart-info {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}