.single-course img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0 0;
  width: 100%;
}
.country-container .single-course {
  /* height: 380px; */
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 32px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  /* position: relative; */
}
.country-container .single-course:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.course-description{
  padding: 16px;
  /* margin-top: 8px; */
}
.course-description h5 {
  /* padding: 0 10px; */
  font-weight: 600;
}
.instructor-info {
  display: flex;
  /* background-color: #FE4C55; */
}
.instructor-name p{
  font-weight: 600;
}
.instructor-photo img {
  /* margin-left: 10px; */
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px dotted black;
}
.instructor-name {
  margin-left: 16px;
  margin-top: 16px;
}
.price-duration p{
  line-height: 0;
  padding-top: 16px;
  padding-bottom: 8px;
}
.single-course .btn{
 width: 100%;
 border: none;
 background-color: #FE4C55;
 color: #FFFFFF;
 padding: 8px 0;
}
.single-course .btn:hover{
 border: 1px solid #FE4C55;
 background-color: #FFFFFF;
 color: #FE4C55;
}
