.single-course img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0 0;
  width: 100%;
}
.country-container .single-course {
  /* height: 380px; */
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  /* position: relative; */
}
.country-container .single-course:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.course-description{
  padding: 15px;
  /* margin-top: 8px; */
}
.course-description h5 {
  /* padding: 0 10px; */
  font-weight: 600;
}
.instructor-info {
  display: flex;
  /* background-color: #04f06a; */
}
.instructor-name p{
  font-weight: 600;
}
.instructor-photo img {
  /* margin-left: 10px; */
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid black;
}
.instructor-name {
  margin-left: 15px;
  margin-top: 15px;
}
.price-duration p{
  line-height: 0;
  padding-top: 20px;
  padding-bottom: 4px;
}
.single-course .btn{
 width: 100%;
 border: none;
 background-color: black;
 color: #04f06a;
 line-height: 0;
 padding: 10px 0;
}
.single-course .btn:hover{
 border: 1px solid black;
 background-color: #04f06a;
 color: black;
}
