.single-course img{
border-top-left-radius: 15px;
border-top-right-radius: 15px;
padding: 0 0;
 width: 100%;
}
.country-container .single-course{
    height: 220px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 30px;
    /* border-radius: 5px; */
    box-shadow: #6d5959 1px 1px 5px;
}
.course-description{
    padding: 0 10px;

}