.normalBtn{
    border: 1px solid #04F06A;
    font-weight: 600;
    color: black;
}
.normalBtn:hover{
    background: #04F06A;
    color: #ffffff;
}
.filledBtn{
    background: #04F06A;
    color: #ffffff;
    font-weight: 600;
}
.filledBtn:hover{
    border: 1px solid #04F06A;
    background-color: #ffffff;
}