.normalBtn{
    border: 1px solid #FE4C55;
    font-weight: 600;
    color: black;
}
.normalBtn:hover{
    background: #FE4C55;
    color: #ffffff;
}
.filledBtn{
    background: #FE4C55;
    color: #ffffff;
    font-weight: 600;
}
.filledBtn:hover{
    border: 1px solid #FE4C55;
    background-color: #ffffff;
}