.single-cart-item-container {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 8px 0;
}

.course-image {
    flex: 0 0 80px;
    border-radius: 8px;
    overflow: hidden;
}

.course-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.image-and-title-container {
    flex: 1;
    display: flex;
    align-items: flex-start;
    padding: 0 8px;
}

.course-title-instructor {
    padding-left: 8px;
}

.title {
    font-weight: bold;
}

.price-and-remove-container {
    display: flex;
    align-items: center;
}


.course-price {
    margin-right: 16px;
}

/* Screen smaller than 426px */
@media screen and (max-width: 426px) {
    .price-and-remove-container {
        flex-direction: column;
        align-items: flex-end;
    }

    .course-price {
        margin-bottom: 8px;
    }

    #remove-btn-text {
        display: none;
    }
}

.course-remove button {
    border: 1px solid red;
    border-radius: 8px;
    background: none;
    border: none;
    color: #ff0000;
    cursor: pointer;
}

.course-remove button:hover {
    color: #cc0000;
}