footer{
    background-color: black;
}
footer ul{
    margin-top: 24px;
}
footer ul li{
    display: block;
    padding: 8px;
}
footer ul li a{
    text-decoration: none;
    color: #FE4C55;

}
footer h5{
    color: #FE4C55;
}
footer h5 a{
    color: #FE4C55;
}
.copyright{
    background-color: #FE4C55;
    padding: 8px;
}
.copyright h4{
    color: black;
}