.banner-text{
    margin: 30px 0;
}
.banner-text h1{
    font-size: 55px;
    font-weight: 600;
}
.banner-text h3{
    font-size: 25px;
}
.highlited-word{
    color: #04F06A;
}

.banner-text .btn{
    padding: 8px 30px;
}