img{
    height: 92%;
}
.coming-soon{
    height: 580px;
    position: relative;
    display: block;
}
.top-text{
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottom-text{
    position: absolute;
    bottom: -2%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.coming-soon h1{
    font-weight: 900;
    font-size: 4.5rem;
    margin-bottom: 0;
    color: #3e4263;
}